header{
	background-color:#e0e0e0;
	color:#795548;
	text-align: center;
	margin:0 auto;
    font-family: sans-serif;
	}
.information_security h2{

		background-color: #e0e0e0;
	text-align:center;
	margin:0 auto;

	}
	p{
		background-color:#9eeeae;
	    border-style:solid;
	    border-color:#000000;

	}
	.information_security h3{
     padding:25px;
		background-color:#8bd4f5;
		text-align:center;
	margin:25 auto;
	}
.information_security h4{ 
	color:#ff0000;

	background-color:#000000;
	
	text-align:center;
	margin:0 auto;
}
ol{
	background-color:#e0e0e0;
}
.information_security h5{ 
	background-color:#fff59d;
}
.fa-copyright
{color:green;

}