.heading{
	background-color:#0e0129;
	
}
.sidebar{
	background-image:linear-gradient(to bottom right,#0e0129,#d80650);
	height: 100%;
	width:0;
	position:fixed;
	z-index: 1;
	top:0;
	left:0;
	padding-top: 60px;
    border-style:solid;
    border-color:#d80650;
	background-color:#0e0129;
	overflow-x: hidden;
	transition:0.5s;
}
.sidebar a{
	display:block;
	
	background:#0e0129;
	color:#ffffff;
	padding:8px 50px 8px 50px;
	
	transition: 0.3s;
	text-align: center;

}
.sidebar .clsbtn{
	color:#d80650;
	position: absolute;
	top:0;
	right:0;
	 margin-left: 100px;
    font-size:25px;
}





.menu{
	display:inline;
	font-size: 25px;
	color:#d80650;
	margin-right: 15%;
}
.menu button{
	background-color:#0e0129;
}
.menu ul{
	display:inline;
}
.logo{
	display:inline;
	float:right;
	padding-top:0.4%;
}
.logo1{
	font-family:sans-serif;
	
	font-size: 25px;
	color:#ffffff;

}
.logo2{
	font-family:sans-serif;
	
	font-size: 25px;
	color:#d80650;

}
.logo3{
	font-family:sans-serif;
	
	font-size: 25px;
	color:#ffffff;

}
.sidebar #mhome{
		display:none;
	}
	.sidebar #mabout{
		display:none;
	}
.sidebar #mcontact{
	display:none;
}
.dropbtn{
	background-color:#0e0129;
	color:#ffffff;
	
	border-style:solid;
	border-color:#d80650;
	padding:8px 50px 8px 50px;
	text-align:center;


}

#get_started{display:none;
	z-index: 1;
	}
#get_started a{
	background-color:#d80650;
	color:#ffffff;
	
	border-color:#0e0129;
	border-style:solid;
	padding:8px 50px 8px 50px;
	text-align:center;
	box-sizing: border-box;
}
#inform{display:none;
	z-index: 1;
	}
#inform a{
	background-color:#d80650;
	color:#ffffff;
	border-color:#0e0129;
	border-style:solid;
	padding:8px 50px 8px 50px;
	text-align:center;
}

.navigation{
	display:inline;
	
}
.navigation a{font:sans-serif;  
	background-color:#0e0129;
    color:#ffffff; 
	
	box-sizing: border-box;
	border-radius: 5px;
	border-style: solid;
	border-color: #ffffff;
	font-size: 25px;	
}


	

.navigation a.active{
	color:#d80650;
}
#home{
	margin-right: 15%;
}
#about{
	margin-right: 15%;
}

.navigation a:hover{
	background-color:#ffffff;
	color:#0e0129;


}

	
.information_security h2{

		background-color: #e0e0e0;
	text-align:center;
	margin:0 auto;

	}
	p{
		background-color:#9eeeae;
	    border-style:solid;
	    border-color:#000000;

	}
	.information_security h3{
     padding:25px;
		background-color:#8bd4f5;
		text-align:center;
	margin:25 auto;
	}
.information_security h4{ 
	color:#ff0000;

	background-color:#000000;
	
	text-align:center;
	margin:0 auto;
}
ol{
	background-color:#e0e0e0;
}
.information_security h5{ 
	background-color:#fff59d;
}
.fa-copyright
{color:green;

}
@media (max-width:780px){
	.navigation a{
		display:none;
	}
	
		.sidebar #mhome{
		display:block;
	}
	.sidebar #mabout{
		display:block;
	}
	.sidebar #mcontact{
		display:block;
	}
	
	
	.logo{
		position:absolute;
		right:0;
		top:0;

	}
}
@media (max-width:1150px){
	.menu{
	display:inline;
	font-size: 25px;
	color:#d80650;
	margin-right: 5%;
}
#home{
	margin-right: 5%;
}
#about{
	margin-right: 5%;
}
.logo{
		position:absolute;
		right:0;
		top:0;}	
	}
	

